<h1>Equipos</h1>

<!-- Botón para ir a añadir equipos -->
<button>
    <a href=""></a>
</button>

<!-- For con todos los equipos -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
          <!-- Foto equipo -->
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <!-- Nombre del equipo -->
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
</div>