<form>
  <div class="mb-3">
    <label for="exampleInputNombre1" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="exampleInputNombre1" aria-describedby="nombreHelp" readonly>
  </div>
  <div class="mb-3">
    <label for="exampleInputEstadio1" class="form-label">Estadio</label>
    <input type="text" class="form-control" id="exampleInputEstadio1" readonly>
  </div>
  <div class="mb-3">
    <label for="exampleInputPresidente1" class="form-label">Presidente</label>
    <input type="text" class="form-control" id="exampleInputPresidente1" readonly>
  </div>
  <div class="mb-3">
    <label for="exampleInputColor1" class="form-label">Color</label>
    <input type="text" class="form-control" id="exampleInputColor1" readonly>
  </div>
  <div class="mb-3">
    <label for="exampleInputUsuario1" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="exampleInputUsuario1" readonly>
  </div>
  <button type="submit" class="btn btn-primary">Eliminar</button>
</form>