<form>
    <div class="mb-3">
        <img src="..." class="img-thumbnail" alt="...">
    </div>
    <div class="mb-3">
      <label for="exampleInputNombre1" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="exampleInputNombre1" aria-describedby="nombreHelp" readonly>
    </div>
    <div class="mb-3">
      <label for="exampleInputPosicion1" class="form-label">Posicion</label>
      <input type="text" class="form-control" id="exampleInputPosicion1" readonly>
    </div>
    <div class="mb-3">
        <label for="exampleInputDorsal1" class="form-label">Dorsal</label>
        <input type="text" class="form-control" id="exampleInputDorsal1" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Eliminar</button>
</form>
